@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    font-family: 'Satisfy', cursive;
    font-size: 46px;
    padding-left: 594px;
    text-decoration: none;
}

.nav-bar ul {
    list-style: none;
    display: block;
    font-family: 'Satisfy', cursive;
}

.nav-header a {
    float: left;
    font-size: 46px;
    color: slategray;
    text-decoration: none;
}

.adm a {
    float: right;
    font-size: 30px;
    padding: 10px;
    color: slategray;
    text-decoration: none;
}

#container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 0.5fr;
    grid-row-gap: 1ch;
    height: 100vh;
}

.login-page {
    background-image: url(bck.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10% 0 0;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(51, 49, 46, 0.8);
    max-width: 360px;
    margin-top: 100px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    font-family: 'Satisfy', cursive;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: 'Satisfy', cursive;
    text-transform: uppercase;
    outline: 0;
    background: lightskyblue;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: lightslategray;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a {
    color: lightskyblue;
    text-decoration: none;
}

.header a {
    color: lightslategray;
}

.footer {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    color: lightslategray;
}


/* Home styling */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    text-align: center;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    width: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 42px;
}


/* Style the back side */

.flip-card-back {
    background-color: slategray;
    color: white;
    transform: rotateY(180deg);
    font-family: 'Satisfy', cursive;
    cursor: pointer;
}

.flip-card-back h2 a {
    text-decoration: none;
}

.events {
    width: 100%;
    font-family: 'Satisfy', cursive;
    font-size: 46px;
    padding-left: 94px;
    text-decoration: none;
    color: slategrey;
}


/* Question Css*/

#Question-Container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 0.5fr;
    grid-row-gap: 1ch;
    height: 100vh;
    font-family: 'Satisfy', cursive;
}

.Q-grid {
    padding: 2%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 5fr 5fr;
}

.ask {
    padding: 1%;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr;
    font-size: 22px;
}

.question {
    border: 2px solid #e7e7e7;
    padding: 1%;
    box-shadow: 2px;
    border-radius: 5px;
    color: slategrey;
}

.meetup-name {
    padding-left: 2.5%;
    color: slategray;
    font-size: 32px;
}

.bt i {
    font-size: 16px;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 190%;
    margin: 5px 0 22px 0;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: #f1f1f1;
    resize: none;
    height: 100px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: white;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: 'Satisfy', cursive;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 4;
}

.bt {
    background-color: white;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    width: 93%;
    margin-bottom: 10px;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: 'Satisfy', cursive;
    margin-left: 9px;
    margin-right: 1px;
}

.form-contain textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: #f1f1f1;
    resize: none;
    height: 200px;
    font-size: 22px;
}

.btnn {
    background-color: white;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: 'Satisfy', cursive;
}

.form-contain label {
    font-size: 22px;
    color: slategray;
}

#profile-container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 6fr 0.5fr;
    grid-row-gap: 1ch;
    height: 100vh;
    font-family: 'Satisfy', cursive;
}

.profile {
    padding: 1%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 5fr 2fr;
    margin: 0;
    color: slategray;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 2px;
    width: 30%;
}

.card img {
    width: 100%;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}


/* Style the counter cards */

.crd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
}

.fa {
    font-size: 50px;
}

.record {
    box-sizing: border-box;
    padding-top: 22px;
}

.question small {
    font-size: 12px;
    float: right;
    padding-top: 10px;
}

profile {
    padding-left: 22px;
}

.admin {
    padding: 1%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 5fr 5fr;
    margin: 0;
    color: slategray;
}

.forme input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forme input[type=date],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forme input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forme input[type=submit]:hover {
    background-color: slategrey;
}

.forme {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.but button {
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    width: 93%;
    margin-bottom: 10px;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: 'Satisfy', cursive;
    margin-left: 9px;
    margin-right: 1px;
}

.but button i {
    font-size: 12px;
}